.form{
    width: 320px;
    box-sizing: border-box;
    padding-top: 50px;
}
.form__container{
    width: 280px;
    padding: 20px 17px 36px 23px;
    margin: 0 auto;
}
.form__fields {

    fieldset{
        border: none;
    }
}

.form__range {
    width: 280px;
    position: relative;
}

.form__range-scale {
    position: absolute;
    width: 280px;
    height: 2px;
    background-color: $light-grey-color;
}

.form__range-bar{
    position: absolute;
    top: -1px;
    width: 241px;
    height: 4px;
    background-color: $primary-lighter-color;
}

.form__range-bar-toggle{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $primary-lighter-color;
    background-color: $grey-range-toggle-color;
    cursor: pointer;
    top: -10px;

    &--max {
        left: 225px;
    }
}

.form__legend{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.form__range-wrapper-inputs {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;

}

.form__range-input[type=number]{
    font-family: $font-family;
    border-radius: 4px;
    border: 2px solid $primary-lighter-color;
    background: $white-color;
    width: 118px;
    appearance: none;
    padding: 8px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;


    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

