.map__container {
  width: 100%;
  height: 420px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__view {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
