.navigation__container {
  width:320px;
  margin: 0 auto;
  display: flex;
  height: 60px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media (min-width: $tablet-width){
    height: 80px;
    width:768px;
    padding: 0 20px 0 20px;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width){
    width: 1440px;
    padding: 0 40px 0 40px;
  }
}

.navigation__menu-container{
  background-color: $white-color;
  position: absolute;
  top: 60px;
  z-index: 2;
  @media (min-width: $tablet-width){
    position: relative;
    top: 0;
  }
}
// проба
// .navigation__menu-container{
//   @media (max-width: $tablet-width){
//     background-color: $white-color;
//     position: absolute;
//     top: 60px;
//     z-index: 2;
//     width: 100%;
//   }
// }
// проба

.navigation__desktop-text {
  display: none;

  @media (min-width: $desktop-width){
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    width: 126px;
    margin: 0;
    padding: 24px 0 24px 0;
    margin-right: 163px;
  }
}

.navigation__authentication-list{
  display: flex;
  list-style-type: none;

  span {
    display: none;
    @media (min-width: $desktop-width){
      display: block;
    }
  }
}

.navigation__logo-img {
  padding: 12px 20px 12px 20px;
  margin-right: 68px;

  @media (min-width: $tablet-width){
    padding: 26px 20px 22px 0;
    margin-right: 47px;
  }

  @media (min-width: $desktop-width){
    padding: 22px 20px 22px 0;
    margin: 0;
  }
}
.navigation__authentication-list{
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width){
    order: 2;
  }
}

.navigation__authentication-item{
  padding:22px;

  &--enter{
    @media (min-width: $desktop-width){
      margin-right: 15px;
    }
  }

  @media (min-width: $tablet-width){
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    display: flex;

    &:active {
      background-color: $secondary-color;
    }
  }

  svg {
    @media (min-width: $tablet-width){
    flex-direction: row;
    }

    @media (min-width: $desktop-width){
      margin-right: 8px;
      }
  }

  a{
    @media (min-width: $tablet-width){
      margin: 0;
      display: flex;

      &:hover,
      &:focus {
        color:$primary-color;
      }

      &:active {
        color:$primary-color;
      }
    }
  }
}

.navigation__menu-list {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  list-style-type: none;

  @media (min-width: $tablet-width){
    order: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 60px;
  }
  @media (min-width: $desktop-width){
    margin-right: 139px;
  }
}

.navigation__menu-item {
  width: 320px;
  text-align: center;
  padding: 20px 0 21px 0;
  border-top: 1px solid $primary-opacity-color;
  box-sizing: border-box;

  @media (min-width: $desktop-width){
    margin-right: 20px;
  }

  a{
    &:hover,
    &:focus {
      color:$primary-color;
    }
  }

  &:last-child{
    border-bottom: 1px solid $primary-opacity-color;

    @media (min-width: $tablet-width){
      border: none;
    }
  }

  &:active {
    background-color: $secondary-color;
  }

  @media (min-width: $tablet-width){
    display: flex;
    flex-direction: row;
    width: auto;
    border: none;
    padding: 30px 20px;
  }

  &--current{
    @media (min-width: $tablet-width){
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    a {
      font-weight: 500;
      color:$primary-color;
    }
  }
  }
}
// проба
// .navigation__menu-item{
//   display: flex;
//   flex-direction: row;

//   @media (max-width: $tablet-width){
//     width: 100%;
//     text-align: center;
//     border-top: 1px solid $primary-opacity-color;
//     box-sizing: border-box;
//     a{
//       @media (min-width: $tablet-width-only){
//         display: block;
//         width: 320px;
//         box-sizing: border-box;
//         padding: 20px 0 21px 0;
//         margin: 0 auto;
//       }
//     }
//   }
//   display: flex;
//   flex-direction: row;
//   width: auto;
//   border: none;
//   padding: 30px 20px;
//   &--current{
//     @media (min-width: $tablet-width){
//       color: $primary-color;
//       border-bottom: 2px solid $primary-color;
//       a {
//         font-weight: 500;
//         color:$primary-color;
//       }
//     }
//   }
// }

.navigation__toggle{
  display: block;
  background-color: transparent;
  width: 60px;
  height: 60px;
  padding: 0;
  border: 0;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width){
    display: none;
  }
}
.navigation--close .navigation__menu-list {
  display: none;

  @media (min-width: $tablet-width){
    display: flex;
  }
}
.navigation--close .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 22px;
  width: 16px;
  height: 1.5px;
  background-color: $black-color;
  box-shadow: 0 5.20px 0 0 $black-color, 0 10.40px 0 0 $black-color;
  cursor: pointer;
}

.navigation--nojs .navigation__menu-list {
  display: block;
  @media (min-width: $tablet-width){
    display: flex;
  }
}

.navigation--open .navigation__toggle {
  &::after {
    content: url(../../img/icons/header/Navigation/Vector.svg);
    position: absolute;
    top: 22px;
    left: 22px;
    width: 16px;
  }
}

.navigation--nojs .navigation__toggle{
  display: none;
}

.navigation--nojs {
  @media(min-width: $mobile-width-only) and (max-width: $mobile-width-only){
    &::after {
      content: url(../../img/icons/header/Navigation/Vector.svg);
      position: absolute;
      top: 20px;
      right: 20px;
      width: 16px;
  }
  }
}
