.pagination {
  @media (min-width: $tablet-width){
    display: flex;
    justify-content: flex-end;
  }
  @media (min-width: $desktop-width){
    width: 1011px;
  }
}

.pagination__container {
  width: 280px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width){
    width: 395px;
  }
}

.pagination__list{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination__button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 15px 15px;
  box-sizing: border-box;
  background-color: $white-color;
  border-radius: 4px;
  font-family: $font-family;
  cursor: pointer;

  &--next{
    @media (min-width: $tablet-width){
      margin-left: 7px;
      margin-right: 7px;
    }
  }
  @media (min-width: $tablet-width){
    width: 91px;
    padding: 15px 20px;
  }

  svg{
    @media (min-width: $tablet-width){
      display: none;
    }
  }
  span {
    display: none;
    @media (min-width: $tablet-width){
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $primary-color;
    }
  }

  &:hover,
  &:focus {
    background-color: $primary-color;

    span{
      color: $white-color;
    }

    svg path{
      fill: $white-color;
    }
  }

  &:active {
    background-color: $primary-darker-color;

    span{
      color: $white-color;
    }

    svg path{
      fill: $white-color;
    }
  }

  &:disabled {
    background-color: $light-grey-color;

    span{
      color: $white-color;
    }

    svg path{
      fill: $white-color;
    }
  }
}

.pagination__link{
  text-decoration: none;
  color: $primary-color;
  line-height: 24px;
}

.pagination__item {
  width: 40px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  padding: 8px;
  background-color: $white-color;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;

  &:last-child {
    margin-right: 0px;
  }

  &--current {
    background-color: transparent;
    font-weight: 600;

    a {
      color: $black-color;
    }
  }
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    a {
      color: $white-color;
    }
  }

  &:hover,
  &:focus {
    background-color: $primary-color;
  }

  &:active {
    background-color: $primary-darker-color;
  }

  &:disabled {
    background-color: $light-grey-color;
  }
}
