.button {
  font-family: $font-family;
  display: inline-flex;
  padding: 8px 21px;
  background-color: $primary-color;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $white-color;
  position: relative;
  cursor: pointer;

  &--submit {
    left: 3px;

    @media (min-width:$desktop-width) {
      padding: 7px 27px;
    }
  }

  &--reset {
    background-color: $white-color;
    color: $primary-color;

    &:hover,
    &:focus,
    &:active,
    &:disabled {
      color: $white-color;
    }

    @media (min-width:$desktop-width) {
      padding: 7px 27px;
      margin: 0;
    }
  }

  &--products-card {
    padding-left: 46px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;

    &::before {
      content: url("../../img/icons/Union.svg");
      position: absolute;
      width: 20px;
      height: 16px;
      top: 10px;
      z-index: 6;
      left: 20px;
    }
  }


  // Состояния
  &:hover,
  &:focus {
    background-color: $primary-lighter-color;
  }

  &:active {
    background-color: $primary-darker-color;
  }

  &:disabled {
    background-color: $grey-color;
  }
}
