.section-headline{
    font-size: 12px;
    font-style: bold;
    color: $primary-color;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}