/* здесь используйте глобальные переменные */
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOR BASE
$primary-color: #7859cf;
$secondary-color: #f0ebff;
$grey-color: #bdbdbd;
$black-color: #333333;
$white-color: #ffffff;

// COLOR ALT
$primary-lighter-color: #9070ec;
$primary-darker-color: #593cac;
$primary-opacity-color: rgba(120, 89, 207, 0.25);
$light-grey-color: #e2e2e2;
$grey-range-toggle-color: #ffffff;

// COLOR BG
$lightest-grey-color: #f8f8f8;
$flat-white-color: #f3ebe1;
$lavender-latte-color: #eae6fc;
$espresso-color: #e5e6e8;

// FONT
$font-family: "Montserrat", "Arial", sans-serif;
$regular-weight: 400;
$bold-weight: 700;
$semi-bold-weight: 600;
$font-size-small:14px;
$font-size-semismall: 16px;
$font-size-semismall: 16px;
$font-size-regular: 20px;
