/* здесь используйте глобальные переменные */
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOR BASE
$primary-color: #7859CF;
$secondary-color: #F0EBFF;
$grey-color: #BDBDBD;
$black-color: #333333;
$white-color: #FFFFFF;

// COLOR ALT
$primary-lighter-color: #9070EC;
$primary-darker-color: #593CAC;
$primary-opacity-color: rgba(120, 89, 207, 0.25);
$light-grey-color: #E2E2E2;
$grey-range-toggle-color: #FFFFFF;

// COLOR BG
$lightest-grey-color: #F8F8F8;
$flat-white-color: #F3EBE1;
$lavender-latte-color: #EAE6FC;
$espresso-color: #E5E6E8;

// FONT
$font-family: "Montserrat", "Arial", sans-serif;
$regular-weight: 400;
$bold-weight: 700;
$semi-bold-weight: 600;
$font-size-small:14px;
$font-size-semismall: 16px;
$font-size-semismall: 16px;
$font-size-regular: 20px;

