/* GLOBAL */
@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";
@import "global/display-none.scss";
@import "global/visually-hidden.scss";
@import "global/section-headline.scss";
@import "global/button.scss";
@import "global/medium-title.scss";

// /* BLOCKS */
@import "blocks/header.scss";
@import "blocks/navigation.scss";
@import "blocks/swiper.scss";
@import "blocks/features.scss";
@import "blocks/catalog.scss";
@import "blocks/form.scss";

